<div class="container-fluid">
  <div class="row post-preview">
    <div class="photo-thumbnail col-md-3 mb-sm-5 mb-md-auto">
      <img [src]="landmarkData.photo_thumb?.url() || '/assets/img/no-thumbnail.png'" class="w-100 rounded mx-auto d-block" alt="{{landmarkData.title}}">
    </div>
    <div class="preview-text col-md-9">
      <a [routerLink]="['/landmarks', landmark.id]">
        <h2 class="post-title">
          {{landmarkData.title}}
        </h2>
      </a>
      <p class="post-subtitle">
        {{landmarkData.short_info}}
      </p>
    </div>
  </div>
</div>
<hr>
